<section id="about-us" class="about-us">
    <div class="container about-us-container">
        <img class="about-us-img" src="./img/about-us.webp" alt="bg-image"
            srcset="./img/about-us.webp 1x, ./img/about-us@2x.webp 2x">
        <div class="about-us-right">
            <h2 class="about-us-title">The Artistry Behind Handmade Jewelry</h2>
            <p class="about-us-text">Handmade Jewelry began as a passion project, inspired by the beauty of nature and
                the
                desire to create meaningful
                pieces. Each item is crafted with love, reflecting our commitment to sustainability and the unique story
                of
                its maker.</p>
            <ul class="about-us-list">
                <li class="about-us-item">
                    <svg class="about-us-icon" width="24" height="24">
                        <use href="./img/icons.svg#leaf"></use>
                    </svg>
                    <p class="about-us-item-text">Inspired by Nature</p>
                </li>
                <li class="about-us-item">
                    <svg class="about-us-icon" width="24" height="24">
                        <use href="./img/icons.svg#hand"></use>
                    </svg>
                    <p class="about-us-item-text">Handcrafted with Love</p>
                </li>
                <li class="about-us-item">
                    <svg class="about-us-icon" width="24" height="24">
                        <use href="./img/icons.svg#book"></use>
                    </svg>
                    <p class="about-us-item-text">Every Piece Tells a Story</p>
                </li>
            </ul>
        </div>
    </div>
</section>