<div class="burger-overlay is-open" id="modal">
    <div class="burger">
        <div class="burger-top">
            <a class="burger-logo-link" href="">
                <svg class="burger-logo-icon" width="160" height="68">
                    <use href="./img/icons.svg#logo"></use>
                </svg>
            </a>
            <button class="burger-button-close" type="button">
                <svg class="burger-close-icon" width="24" height="24">
                    <use href="./img/icons.svg#close"></use>
                </svg>
            </button>
        </div>
        <div class="burger-bottom">
            <nav class="burger-nav">
                <ul class="burger-nav-list">
                    <li class="burger-nav-item"><a class="burger-nav-link" href="#about-us">About us</a></li>
                    <li class="burger-nav-item"><a class="burger-nav-link" href="#benefits">Benefits</a></li>
                    <li class="burger-nav-item"><a class="burger-nav-link" href="#gallery">Gallery</a></li>
                    <li class="burger-nav-item"><a class="burger-nav-link" href="#testimonials">Testimonials</a></li>
                    <li class="burger-nav-item"><a class="burger-nav-link" href="#contacts">Contacts</a></li>
                </ul>
            </nav>
            <button class="burger-button-order" type="button">Order Now</button>
        </div>
    </div>
</div>