<section class="gallery" id="gallery">
  <div class="container">
    <h2 class="gallery-title">Jewelry Showcase</h2>

    <p class="gallery-description">
      Discover the beauty of our handcrafted jewelry in style.
    </p>

    <ul class="gallery-list">
      <li class="gallery-column">
        <img
          class="gallery-img"
          src="./img/gallery-1.webp"
          srcset="./img/gallery-1@2x.webp"
          alt="Purple and black beaded bracelet"
          width="640"
          height="640"
        />

        <img
          class="gallery-img"
          src="./img/gallery-2.webp"
          srcset="./img/gallery-2@2x.webp"
          alt="Handmade beaded bracelets"
          width="640"
          height="426"
        />
      </li>

      <li class="gallery-column">
        <img
          class="gallery-img"
          src="./img/gallery-3.webp"
          srcset="./img/gallery-3@2x.webp"
          alt="Amber pendant"
          width="640"
          height="426"
        />

        <img
          class="gallery-img"
          src="./img/gallery-4.webp"
          srcset="./img/gallery-4@2x.webp"
          alt="Handmade wooden earrings"
          width="640"
          height="640"
        />
      </li>
    </ul>
  </div>
</section>
