<header id="header" class="header">
    <div class="container header-container">
        <a class="header-logo-link" href="">
            <svg class="header-logo-icon" width="149" height="47">
                <use href="./img/icons.svg#Logo"></use>
            </svg>
        </a>

        <nav class="header-nav">
            <ul class="header-nav-list">
                <li class="header-nav-item"><a class="header-nav-link" href="#about-us">About us</a></li>
                <li class="header-nav-item"><a class="header-nav-link" href="#benefits">Benefits</a></li>
                <li class="header-nav-item"><a class="header-nav-link" href="#gallery">Gallery</a></li>
                <li class="header-nav-item"><a class="header-nav-link" href="#testimonials">Testimonials</a></li>
                <li class="header-nav-item"><a class="header-nav-link" href="#contacts">Contacts</a></li>
            </ul>
        </nav>

        <button class="header-button-order">Order Now</button>

        <button class="header-menu-link" type="button">
            <svg class="header-menu-icon" width="16" height="12">
                <use href="./img/icons.svg#burger" />
            </svg>
        </button>

    </div>
</header>