<section class="section-testimonials" id="testimonials">
  <div class="container">
    <h2 class="section-title">Customer testimonials</h2>
    <p class="section-subtitle">
      Absolutely love my new earrings! They are stunning.
    </p>
    <ul class="testimonials-list">
      <li class="testimonials-item img">
        <img
          src="../img/testimonials-1.webp"
          srcset="
            ../img/testimonials-1.webp    1x,
            ../img/testimonials-1@2x.webp 2x
          "
          alt="Woman smiling and wearing a natural stone drop earring"
          width="260"
          height="260"
          class="testimonials-image"
        />
      </li>
      <li class="testimonials-item img">
        <img
          src="../img/testimonials-2.webp"
          srcset="
            ../img/testimonials-2.webp    1x,
            ../img/testimonials-2@2x.webp 2x
          "
          alt="Man holding a pendant with a natural stone on a cord necklace"
          width="260"
          height="260"
          class="testimonials-image"
        />
      </li>
      <li class="testimonials-item review">
        <div class="stars">
          <svg class="star-filled" width="24" height="24">
            <use href="../img/icons.svg#star-filled"></use>
          </svg>
          <svg class="star-filled" width="24" height="24">
            <use href="../img/icons.svg#star-filled"></use>
          </svg>
          <svg class="star-filled" width="24" height="24">
            <use href="../img/icons.svg#star-filled"></use>
          </svg>
          <svg class="star-filled" width="24" height="24">
            <use href="../img/icons.svg#star-filled"></use>
          </svg>
          <svg class="star-outline" width="24" height="24">
            <use href="../img/icons.svg#star-outline"></use>
          </svg>
        </div>
        <p class="review-text">"Each piece tells a story, and I love mine!"</p>
        <p class="review-name">Thomas Mans</p>
      </li>
      <li class="testimonials-item review">
        <div class="stars">
          <svg class="star-filled" width="24" height="24">
            <use href="../img/icons.svg#star-filled"></use>
          </svg>
          <svg class="star-filled" width="24" height="24">
            <use href="../img/icons.svg#star-filled"></use>
          </svg>
          <svg class="star-filled" width="24" height="24">
            <use href="../img/icons.svg#star-filled"></use>
          </svg>
          <svg class="star-filled" width="24" height="24">
            <use href="../img/icons.svg#star-filled"></use>
          </svg>
          <svg class="star-filled" width="24" height="24">
            <use href="../img/icons.svg#star-filled"></use>
          </svg>
        </div>
        <p class="review-text">
          "The craftsmanship is exquisite, and I feel unique wearing it."
        </p>
        <p class="review-name">Jane Edison</p>
      </li>
      <li class="testimonials-item img">
        <img
          src="../img/testimonials-3.webp"
          srcset="
            ../img/testimonials-3.webp    1x,
            ../img/testimonials-3@2x.webp 2x
          "
          alt="Hands holding a cup of coffee, wearing a bracelet with a natural stone"
          width="260"
          height="260"
          class="testimonials-image"
        />
      </li>
      <li class="testimonials-item img">
        <img
          src="../img/testimonials-4.webp"
          srcset="
            ../img/testimonials-4.webp    1x,
            ../img/testimonials-4@2x.webp 2x
          "
          alt="Hands holding a silver ring with a natural stone"
          width="260"
          height="260"
          class="testimonials-image"
        />
      </li>
    </ul>
  </div>
</section>
